body {
    font-family: 'Poppins';
    background-color: gray;
    margin: 0;
}

form {
    width: 90%;
    margin: auto;
}

.partner {
    position: relative;
}

section {
    position: relative;
}

h2 {
    color: white;
}

input {
    display: block;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

label {
    color: orange;
}

.fields-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    width: 90vw;
    margin: auto;
    text-align: left;
}

#business-partner-name {
    grid-column: 1/5;
}

#type {
    grid-column: 1/3;
}

#trade {
    grid-column: 3/5;
}

#reg-number {
    grid-column: 1/3;
}

#vat-number {
    grid-column: 3/5;
}

section#supplier-account-details .fields-container {
    grid-template-columns: repeat(2, 1fr);
}

section#primary-partner .fields-container {
    grid-template-columns: repeat(6, 1fr);
}

#first-name {
    grid-column: 1/4;
}

#last-name {
    grid-column: 4/7;
}

#position {
    grid-column: 1/7;
}

#telephone {
    grid-column: 1/3;
}

#mobile {
    grid-column: 3/5;
}

#email {
    grid-column: 5/7;
}

section.account-address .fields-container {
    grid-template-columns: repeat(2, 1fr);
}

section#account-address-1 .close-btn{
    display: none;
}

#address-line-1 {
    grid-column: 1/3;
}

#address-line-2 {
    grid-column: 1/3;
}

#address-line-3 {
    grid-column: 1/2;
}

#city {
    grid-column: 2/3;
}

#country {
    grid-column: 1/2;
}

#postcode {
    grid-column: 2/3;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
}

button {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-family: 'Poppins';    
    cursor: pointer;
    margin: 10px;
}